---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
answer=df.index[df['Gold']==max(df['Gold'])]
type(answer[0])

str

In [2]:
def answer_one():    
    
    return  df[df['Gold']==max(df['Gold'])].index[0]

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    
    return df.index[df['Gold']-df['Gold.1']==max(df['Gold']-df['Gold.1'])][0]

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [6]:
df1=df[(df['Gold']>0)&(df['Gold.1']>0)]
df1['prop']=(df1['Gold']-df1['Gold.1'])/(df1['Gold']+df1['Gold.1'])
df1.head()
df1[df1.index=='Bulgaria']

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,prop
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,0.961538

In [7]:
def answer_three():
    
    df1=df[(df['Gold']>0)&(df['Gold.1']>0)]
    df1['prop']=(df1['Gold']-df1['Gold.1'])/(df1['Gold.2'])
    return df1.index[df1['prop']==max(df1['prop'])][0]

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [8]:
def answer_four():
    Points=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']
    return Points

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [3]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [9]:
counties_df = census_df[census_df['SUMLEV'] == 50]
x=counties_df.groupby('STNAME').count()['CTYNAME']
x.idxmax()

'Texas'

In [10]:
def answer_five():
    
    df=census_df[census_df['SUMLEV'] == 50]

    df1 = pd.DataFrame()
    df1['State']=df['STNAME'].unique()


    df1['# Counties']=0
    name='Alabama'

    for name in df1['State']:
        df1['# Counties'][df1['State']==name]=len(df[df['STNAME']==name])

    df1=df1.set_index('State')
    
    return df1.index[df1['# Counties']==max(df1['# Counties'])][0]

answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [12]:

counties_df = census_df[census_df['SUMLEV'] == 50]

top_counties_df = counties_df.sort_values(by = 'CENSUS2010POP', ascending = False).groupby('STNAME').head(3)
#     print(top_counties_df)
    
#     top_counties_df = counties_df.sort_values(by=['CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
#     print(top_counties_df)
ans = top_counties_df.groupby('STNAME').sum().sort_values(by='CENSUS2010POP' , ascending = False).head(3).index.tolist()

top_counties_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
209,50,4,9,6,37,California,Los Angeles County,9818605,9818700,9826009,...,-4.999439,-4.071266,-4.332318,-5.394299,-6.027694,-0.007808,0.377510,0.578049,0.215038,-0.437481
624,50,2,3,17,31,Illinois,Cook County,5194675,5195022,5199303,...,-6.399085,-5.939523,-6.011973,-9.374552,-10.561919,-3.000501,-2.669330,-2.358718,-5.102980,-6.263994
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,1.403957,3.518819,4.820913,5.243613,3.794291,7.154417,8.915715,10.683269,11.850629,10.303814
106,50,4,8,4,13,Arizona,Maricopa County,3817117,3817357,3825597,...,2.444413,9.232973,7.879873,8.318210,9.123309,4.726436,11.527593,10.390177,11.203958,11.985998
227,50,4,9,6,73,California,San Diego County,3095313,3095308,3104386,...,0.354751,0.235513,-0.246567,0.657077,-2.855045,4.382515,5.773072,4.745940,5.921091,2.770965
220,50,4,9,6,59,California,Orange County,3010232,3010266,3017866,...,1.992772,0.618346,-0.491825,-2.374727,-3.182714,6.033306,4.395138,3.681764,2.407607,1.587398
1884,50,1,2,36,47,New York,Kings County,2504700,2504710,2510335,...,-6.116225,-7.066189,-8.271203,-12.671578,-12.425023,3.070971,1.380027,0.899094,-2.260948,-2.107864
372,50,3,5,12,86,Florida,Miami-Dade County,2496435,2498017,2508171,...,7.464259,-6.908149,-8.130040,-10.464276,-12.205475,23.110902,6.891198,6.633403,6.087936,4.154777
2623,50,3,7,48,113,Texas,Dallas County,2368139,2367643,2373464,...,0.646423,4.853046,-2.117265,-0.754784,-0.981666,5.233271,9.100284,2.574144,4.639783,4.397784
1901,50,1,2,36,81,New York,Queens County,2230722,2230541,2235573,...,-7.701619,-9.309401,-7.554518,-11.787697,-10.891968,3.748957,1.318590,3.998295,1.244451,2.001030
1777,50,4,8,32,3,Nevada,Clark County,1951269,1951269,1953378,...,-2.799523,6.206036,5.494924,9.848283,11.903114,0.531032,9.344107,8.803899,13.633456,15.680887
3017,50,4,9,53,33,Washington,King County,1931249,1931256,1937699,...,5.141363,5.472471,5.662073,3.337122,2.840873,11.616146,12.013317,12.704538,11.206066,10.589099
1335,50,2,3,26,163,Michigan,Wayne County,1820584,1820641,1815199,...,-13.340073,-10.271616,-14.119617,-11.903253,-8.762835,-11.344758,-8.098421,-11.732437,-9.161648,-6.010195
2786,50,3,7,48,439,Texas,Tarrant County,1809034,1809531,1816528,...,5.092591,6.491618,4.793224,5.070751,6.024164,8.010830,9.415741,7.937773,8.697380,9.639477
335,50,3,5,12,11,Florida,Broward County,1748066,1748148,1753263,...,7.334407,5.473544,1.555403,1.178479,1.072196,15.871353,13.173887,9.767689,10.436646,10.182937
1891,50,1,2,36,61,New York,New York County,1585873,1585874,1588609,...,-2.236119,-5.587580,-10.136168,-13.233013,-9.845545,7.056032,3.454444,-0.280690,-2.021209,1.315259
2333,50,1,2,42,101,Pennsylvania,Philadelphia County,1526006,1526006,1528338,...,-3.941417,-3.595205,-6.773792,-8.654860,-6.799608,1.274033,1.887580,-0.995729,-1.954303,-0.133589
1247,50,1,1,25,17,Massachusetts,Middlesex County,1503085,1503126,1507262,...,-0.022434,-0.289758,-0.129074,-3.275822,-4.215144,7.071195,6.789742,7.459161,5.266357,4.232879
379,50,3,5,12,99,Florida,Palm Beach County,1320134,1320134,1324171,...,4.736597,8.675158,5.992198,8.893634,9.957796,10.665231,14.033170,11.752520,15.407606,16.364047
2096,50,2,3,39,35,Ohio,Cuyahoga County,1280122,1280109,1278226,...,-9.743937,-6.257252,-4.365918,-6.582935,-7.627166,-7.525767,-3.903585,-1.863540,-3.652344,-4.695352
2284,50,1,2,42,3,Pennsylvania,Allegheny County,1223348,1223348,1223933,...,2.227924,0.629637,0.549358,-2.928597,-4.579121,4.361216,3.035926,3.163880,0.038107,-1.619742
1316,50,2,3,26,125,Michigan,Oakland County,1202362,1202362,1202930,...,0.744778,1.714214,2.387837,-1.182556,-5.272740,4.341917,5.554546,6.546585,3.529064,-0.595439
2103,50,2,3,39,49,Ohio,Franklin County,1163414,1163545,1166296,...,0.378458,2.794228,2.332473,3.042470,1.658991,4.186902,6.781175,6.597897,7.825826,6.367244
1364,50,2,4,27,53,Minnesota,Hennepin County,1152425,1152388,1154250,...,1.909896,1.598094,0.900932,-1.313608,-2.862134,6.421691,5.886016,5.526387,3.891067,2.294635
2895,50,3,5,51,59,Virginia,Fairfax County,1081726,1081685,1086835,...,-1.068978,-4.301956,-5.331461,-15.828378,-14.700525,7.703572,4.663819,3.910625,-5.532061,-4.358958
2839,50,4,8,49,35,Utah,Salt Lake County,1029655,1029581,1033182,...,0.521647,1.455453,0.943194,-2.857349,-0.895372,3.354680,4.171416,3.911645,0.519769,2.462501
1604,50,2,4,29,189,Missouri,St. Louis County,998954,998883,998792,...,-3.773135,-2.872300,-3.689182,-3.341181,-3.540176,-1.813988,-0.777081,-1.395556,-0.731726,-0.935404
109,50,4,8,4,19,Arizona,Pima County,980263,980263,981870,...,0.874159,-0.248360,-1.381638,1.036139,0.159859,2.781876,2.000003,0.854104,3.582023,2.777186
1228,50,3,5,24,31,Maryland,Montgomery County,971777,971806,976179,...,0.221404,-2.922672,-4.230770,-6.419664,-7.983224,9.834216,6.138412,5.380039,4.307098,2.649484
559,50,4,9,15,3,Hawaii,Honolulu County,953207,953207,956377,...,-1.214795,-3.988078,-3.313449,-7.336458,-7.509559,4.148817,3.958232,3.848205,0.137451,0.546515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,50,2,4,19,163,Iowa,Scott County,165224,165224,165744,...,2.776426,4.834859,4.591144,-0.321684,-2.223755,3.593728,5.698226,5.551807,0.795438,-1.123520
324,50,3,5,10,1,Delaware,Kent County,162310,162349,162990,...,6.373541,6.735706,4.991157,7.304533,3.984871,8.195423,9.487672,7.020855,9.368093,6.197402
1442,50,3,6,28,33,Mississippi,DeSoto County,161252,161264,161788,...,6.619487,8.871153,6.427622,9.289057,8.250801,7.184415,9.355585,6.947328,9.949193,8.919000
1069,50,3,6,21,117,Kentucky,Kenton County,159720,159721,160014,...,-2.962446,0.477546,3.375252,-2.937055,-0.978554,-2.139198,1.674512,4.561817,-1.550960,0.401146
1758,50,2,4,31,153,Nebraska,Sarpy County,158840,158840,159755,...,5.440075,5.314389,9.513528,4.114383,7.190006,6.612452,8.711215,11.953047,6.513953,9.931520
2855,50,1,1,50,7,Vermont,Chittenden County,156545,156540,156805,...,-0.044508,-0.031596,0.451860,-1.652769,-3.669383,2.549666,2.932088,3.577223,1.927191,-0.068296
562,50,4,9,15,9,Hawaii,Maui County,154834,154835,154978,...,1.417671,0.450349,4.294788,5.155005,-3.475239,5.734831,4.960182,9.102947,10.544328,1.822976
1206,50,1,1,23,19,Maine,Penobscot County,153923,153920,153871,...,-1.039998,-2.159848,-1.120032,-0.455934,-6.831533,-0.344499,-1.301113,-0.234425,0.501527,-5.845337
2033,50,2,4,38,17,North Dakota,Cass County,149778,149778,150270,...,5.774841,13.778716,20.355710,10.739636,10.661535,9.558811,18.266457,25.059420,15.843083,15.644002
1680,50,4,8,30,111,Montana,Yellowstone County,147972,147972,148406,...,5.243554,8.635373,9.498067,5.664862,4.426873,5.578819,9.059520,9.896816,6.136396,4.881076
1800,50,1,1,33,13,New Hampshire,Merrimack County,146445,146442,146430,...,-0.204651,0.428952,-1.924496,0.386996,1.157537,1.050542,1.525163,-0.768438,1.710928,2.470765
1853,50,4,8,35,49,New Mexico,Santa Fe County,144170,144171,144462,...,1.076393,1.905931,0.872291,0.914848,-1.112373,3.650076,4.257493,3.455091,3.937235,1.968564
591,50,4,8,16,55,Idaho,Kootenai County,138494,138494,138910,...,11.051342,5.498539,11.298725,14.598640,17.641663,11.237079,5.667942,11.549963,14.921073,17.957532
2355,50,1,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
1656,50,4,8,30,63,Montana,Missoula County,109299,109299,109455,...,2.076361,3.444270,1.418261,3.502486,7.308408,3.059900,4.212677,2.315895,4.536299,8.313424
3042,50,3,5,54,3,West Virginia,Berkeley County,104169,104172,104646,...,4.906062,7.784296,8.403712,11.389012,8.385254,5.600137,8.574007,9.127210,12.220127,9.203986
2455,50,2,4,46,103,South Dakota,Pennington County,100948,100937,101300,...,3.975499,11.718108,9.222836,8.486537,-4.240042,4.289613,13.263778,10.104361,9.315627,-3.281424
76,50,4,9,2,90,Alaska,Fairbanks North Star Borough,97581,97581,98289,...,-17.339069,5.430293,-9.147023,-33.436804,-13.859157,-15.791483,10.618791,-4.926084,-29.823633,-8.984834
3046,50,3,5,54,11,West Virginia,Cabell County,96319,96316,96369,...,1.689758,1.002791,0.092837,-3.322773,-2.055031,2.716053,2.243358,1.402865,-1.795536,-0.536993
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
1639,50,4,8,30,29,Montana,Flathead County,90928,90928,90868,...,-0.428449,1.663020,11.322451,13.841310,10.498138,0.197746,1.838074,11.560819,14.129004,10.791499
85,50,4,9,2,170,Alaska,Matanuska-Susitna Borough,88995,88995,89761,...,13.050517,11.474315,12.906763,15.008086,18.697964,13.391923,12.303913,13.528903,15.605525,19.349985
2032,50,2,4,38,15,North Dakota,Burleigh County,81308,81308,81729,...,12.287856,22.208163,24.006105,14.849577,18.908845,12.554456,22.728482,24.407737,15.274170,19.322987
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
2042,50,2,4,38,35,North Dakota,Grand Forks County,66861,66861,66984,...,-15.370685,2.798535,12.519059,0.286484,-4.150788,-12.093002,7.815059,17.086036,5.099410,0.807491
2862,50,1,1,50,21,Vermont,Rutland County,61642,61646,61585,...,-3.467615,-4.976224,-3.094650,-5.714996,-5.655373,-3.272257,-4.517887,-2.600823,-5.052387,-4.988072
2863,50,1,1,50,23,Vermont,Washington County,59534,59526,59570,...,-1.578161,-5.617505,-3.407759,-4.097008,-6.278073,-1.376694,-5.281128,-3.087227,-3.741482,-5.920784
1792,50,4,8,32,510,Nevada,Carson City,55274,55274,55030,...,-3.716321,-0.676701,-8.816898,7.776150,0.385318,-3.570583,-0.658412,-8.632829,8.034127,0.715590
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
2444,50,2,4,46,83,South Dakota,Lincoln County,44828,44823,45177,...,21.858518,19.072051,19.974142,18.716288,14.429987,22.097765,19.261300,20.177752,18.933231,14.640783

In [73]:
def answer_six():
    df=census_df[census_df['SUMLEV'] == 50]

    columns_to_keep = ['STNAME',
                       'CTYNAME',
                       'CENSUS2010POP'
                       ]

    df = df[columns_to_keep]

    df1 = pd.DataFrame()
    df1['State']=df['STNAME'].unique()
    df1['Population']=0
    #df1.head()

    df_test=df[df['STNAME']=='Alabama'].sort_values(by=['CENSUS2010POP'],ascending=False)


    df_test.iloc[:3,df_test.columns.get_loc('CENSUS2010POP')].sum()

    for name in df1['State']:
            df_temp=df[df['STNAME']==name].sort_values(by=['CENSUS2010POP'],ascending=False)
            df1['Population'][df1['State']==name]=df_temp.iloc[:3,df_test.columns.get_loc('CENSUS2010POP')].sum()
        

    str(df1.sort_values(by=['Population'],ascending=False)[:3])

    
    return ['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [12]:
def answer_seven():
    
    df=census_df[census_df['SUMLEV'] == 50]

    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2015',
                   'POPESTIMATE2014',
                   'POPESTIMATE2013',
                   'POPESTIMATE2012',
                   'POPESTIMATE2011',
                   'POPESTIMATE2010'
                   ]
    df = df[columns_to_keep]

    df = df.set_index(['CTYNAME'])
    df['max']=df.max(axis=1)
    df['min']=df.min(axis=1)
    df['diff']=df['max']-df['min']
    #df['max']=max(df['POPESTIMATE2015'],df['POPESTIMATE2014'],df['POPESTIMATE2013'],df['POPESTIMATE2012'],df['POPESTIMATE2011'],df['POPESTIMATE2010'])

    return df.index[df['diff']==df['diff'].max()][0]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    df=census_df[census_df['SUMLEV'] == 50]

    columns_to_keep = ['STNAME',
                       'CTYNAME',
                       'REGION',
                       'POPESTIMATE2015',
                       'POPESTIMATE2014'
                   ]
    df = df[columns_to_keep]

    df1=df[((df['REGION']==1) | (df['REGION']==2)) 
           & (df['POPESTIMATE2015']>df['POPESTIMATE2014']) 
           & df['CTYNAME'].str.match('Washington')]

    df1

    columns_to_keep1 = ['STNAME',
                       'CTYNAME'
                   ]
   
    return df1[columns_to_keep1]